* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input::placeholder {
  color: var(--placeholder, #45454b);
}

input:focus {
  outline: none;
  border-color: var(--fg, #fafafa) !important;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slidein {
  from {
    transform: translateX(100%);
  }
  to {
    transform: none;
  }
}

@keyframes fadeplain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
